/* Google Fonts Press Start 2p */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --primary-brand-color: #8d3ea5;
    --secondary-brand-color: #57c2df;
    --accent-color: #f1d64e;
    --shadow-black: #000000;
    --shadow-gray: #6d6d6d;
    --logo-font: 'Luckiest Guy', Cursive, Helvetica;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body,
#wrapper {
    width: 800px;
    margin: 0 auto;
}

body {
    font-family: var(--logo-font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('Images/backgroundImage.png');
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-size: 100% 100%;
}

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 800px;
    height: 50px;
    font-family: var(--logo-font);
    background-color: transparent;
}

.flex-ctr {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-family: var(--logo-font);
    color: white; */
}

div a {
    border-color: var(--secondary-brand-color);
    border-style: ridge;
    border-radius: 12px;
    font: var(--logo-font);
    color: white;
    background-color: transparent;
    cursor: crosshair;
    transform: scale(1.1);
    /* box-shadow: 0 0 15px white; */
}

div button:hover {
    color: var(--accent-color);
    box-shadow: 0 0 5px var(--secondary-brand-color);
    text-shadow: 0 0 5px var(--accent-color);
    box-shadow: 1 1 15px white;
}

#search {
    width: 500px;
    height: 50px;
    border-color: var(--secondary-brand-color);
    border-style: ridge;
    border-radius: 12px;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    font-family: var(--logo-font);
    color: var(--accent-color);
}

input,
#submit {
    height: 50px;
    border-radius: 12px;
    border-color: var(--secondary-brand-color);
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent var(--primary-brand-color);
    font-family: var(--logo-font);
    color: var(--accent-color);

}

#search:hover {
    box-shadow: 1px 1px 15px 1px var(--primary-brand-color);
    cursor: crosshair;
}

input,
#submit:hover {
    box-shadow: 1px 1px 15px 1px var(--primary-brand-color);
    cursor: crosshair;
}

form {
    margin: auto;
    margin-top: inherit;
}

img {
    max-width: 100%;
    margin: auto;
    padding-bottom: 20%;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {

    color: white;
}

.fa-twitter {

    color: white;
}

.fa-youtube {

    color: white;
}

.fa-instagram {

    color: white;
}

