@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
    --primary-brand-color: #8d3ea5;
    --secondary-brand-color: #57c2df;
    --accent-color: #f1d64e;
    --shadow-black: #000000;
    --shadow-gray: #6d6d6d;
    --logo-font: 'Luckiest Guy', Cursive, Helvetica;
}

* {
    box-sizing: border-box;
    margin: 0;
}

#wrapper {
    width: 800px;
    margin: 0 auto;
}

body {
    font-family: var(--logo-font);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    background-image: url('Images/backgroundImage.png');
    background-repeat: no-repeat;
    background-attachment: center;
    background-size: cover;
    background-size: 100% 100%;
}

/* ===================Header/Footer elements===================== */

header,
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    width: 800px;
    height: 50px;
    font-family: var(--logo-font);
    background-color: transparent;
}

/* ===================Div Elements===================== */

div a {
    font: var(--logo-font);
    color: white;
    background-color: transparent;
    cursor: crosshair;
    transform: scale(1.1);
    /* box-shadow: 0 0 15px white; */
}

/* ===================Main elements===================== */
form {
    margin: auto;
    margin-top: inherit;
}


#search {
    width: 500px;
    height: 50px;
    border-color: var(--secondary-brand-color);
    border-style: ridge;
    border-radius: 12px;
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent;
    font-family: var(--logo-font);
    color: var(--accent-color);
    margin-top: 10px;
}

#submit {
    height: 50px;
    border-radius: 12px;
    border-color: var(--secondary-brand-color);
    flex-direction: row;
    align-items: flex-start;
    background-color: transparent var(--primary-brand-color);
    font-family: var(--logo-font);
    color: var(--accent-color);

}

#search:hover,
#submit:hover {
    cursor: crosshair;
}

img {
    max-width: 100%;
    margin: auto;
    padding-bottom: 20%;
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: ease-in 10s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}



.flex-ctr {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.topnav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    cursor: crosshair;
    opacity: 0.7;
}

.fa-facebook {

    color: white;
}

.fa-twitter {

    color: white;
}

.fa-youtube {

    color: white;
}

.fa-instagram {

    color: white;
}